.headingCustom {
    color: #1a2b4c; /* Blue */
  }
  
  .iframeContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 1rem;
  }
  
  .iframeCustom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  